@media (min-width: 768px) {
  body {
    font-size: 1.1rem;
    line-height: 1.7;
    padding: 2em;
    margin: 0 auto;
    max-width: 48em;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 1em;
    margin: 0;
    background-color: #f6f6f6;;
  }

  main, header, footer, section, div {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }
}

.container {
  display: flex;
}

p {
  font-size: 0.9rem;
  color: #000;
  line-height: 1.8;
}

p > a {
  color: #000;
  text-decoration: underline;
}

ul {
  font-size: 0.9rem;
  margin: 0.5em 0;
}