@media (min-width: 768px) {
  body {
    font-size: 1.1rem;
    padding: 2em;
    background-color: #f5efea00;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 30em;
    max-width: 48em;
    max-height: 37.5em;
    line-height: 1.7;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 0.9rem; /* readable on small screens */
    padding: 1em;
    background-color: #f5efea00;
    margin: 0;
    height: auto;
    width: 100%;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
  }
  
  main, header, footer, section, div {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
}

.container {
    display: flex;
  }

  p {
  font-size: .9em;
  color: #000000;
  line-height: 2.5;
}

p > a {
  text-decoration: none;
  color: #000000;
  text-decoration: underline;
}

ul {
  font-size: .9em;
  margin: -.5em;
}