body {
  background-color: #f5efea00;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20em;
}

p {
  font-size: 1em;
  color: #000000;
  line-height: 2.5;
}

p > a {
  text-decoration: none;
  color: #000000;
  text-decoration: underline;
}

ul {
  font-size: 1em;
}