body {
  font-size: 1rem;
  padding: 1em;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
    padding: 2em;
    background-color: #f5efea00;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30em;
    max-width: 48em;
    max-height: 37.5em;
  }
  .container {
    display: flex;
  }
}

p {
  font-size: 1em;
  color: #000000;
  line-height: 2.5;
}

p > a {
  text-decoration: none;
  color: #000000;
  text-decoration: underline;
}

ul {
  font-size: 1em;
}